<div class="custom-container">
  <div class="header">
    <div class="header__left-bar">
      <img src="../assets/edifecs.png" class="edifecs-logo" role="button">
    </div>
    <div class="header__right-bar">
      <button class="navigation-item" role="button">Pricing</button>
      <button class="navigation-item" role="button">Contact us</button>
      <button class="navigation-item" role="button">Sign up</button>
      <button class="navigation-item" role="button">Login</button>
    </div>
  </div>
  <div class="jumbotron">
    <div class="data-container">
      <div class="cloud">
        Smart Trading Cloud
      </div>
      <div class="description">
        Help you securely store, access, share, transfer, and track your data.
      </div>
      <button class="custom-btn" role="button">Get Started</button>
    </div>
    <img src="../assets/artboard-2.png">
  </div>
  <div class="info-block">
    <div class="advantages">
      <div class="advantage-card">
        <div class="advantage__img">
          <img src="../assets/secure.svg" class="advantage__img">
        </div>
        <div class="advantage__title">
          Security
        </div>
        <div class="advantage__description">
          Get complete security and permission control that protects your data during transfer and storage, and prevents data leaks and unauthorized access.
        </div>
      </div>
      <div class="advantage-card">
        <div class="advantage__img">
          <img src="../assets/access.svg" class="advantage__img">
        </div>
        <div class="advantage__title">
          Easy Access
        </div>
        <div class="advantage__description">
          Store your data offsite in a wireless ecosystem and access your data from several locations and workstations.
        </div>
      </div>
      <div class="advantage-card">
        <div class="advantage__img">
          <img src="../assets/single-sign-on.svg" class="advantage__img">
        </div>
        <div class="advantage__title">
          Single Sign-On
        </div>
        <div class="advantage__description">
          Use just one Smart Trading account to access all products. Log in once and forget about having to enter your credentials again.
        </div>
      </div>
    </div>
    <div class="products">
      <div class="products__header">
        Our products
      </div>
      <div class="product-card__container">
        <div class="product-card">
          <div class="product__logo">
            <img src="../assets/ar-logo.png">
          </div>
          <div class="product__name">
            Cloud Repository
          </div>
          <div class="product__description">
            sed do sed do eiusmod tempor incididunt ut labore et dolore et sed do dolore et dolore ersf.
          </div>
          <button class="get-started-btn" role="button">Get started</button>
        </div>
        <div class="product-card">
          <div class="product__logo">
            <img src="../assets/mft-logo.png">
          </div>
          <div class="product__name">
            Managed File Transfer
          </div>
          <div class="product__description">
            sed do sed do eiusmod tempor incididunt ut labore et dolore et sed do dolore et dolore ersf.
          </div>
          <button class="get-started-btn" role="button">Get started</button>
        </div>
        <div class="product-card">
          <div class="product__logo">
            <img src="../assets/ts-logo.png">
          </div>
          <div class="product__name">
            Translation Service
          </div>
          <div class="product__description">
            sed do sed do eiusmod tempor incididunt ut labore et dolore et sed do dolore et dolore ersf.
          </div>
          <button class="get-started-btn" role="button">Get started</button>
        </div>
        <div class="product-card">
          <div class="product__logo">
            <img src="../assets/vs-logo.png">
          </div>
          <div class="product__name">
            Validation Service
          </div>
          <div class="product__description">
            sed do sed do eiusmod tempor incididunt ut labore et dolore et sed do dolore et dolore ersf.
          </div>
          <button class="get-started-btn" role="button">Get started</button>
        </div>
      </div>
    </div>
    <div class="learn-more">
      <div class="info">
        Smart Trading Cloud ensures that your data is reliably protected in transit to, from, and within the cloud. It can advance your workflow management to a new level.
      </div>
      <button class="learn-more__btn" role="button">Learn More</button>
    </div>
  </div>
  <div class="footer">
    <div class="socials">
      <img class="icon" src="../assets/twitter.svg" role="button">
      <img class="icon" src="../assets/site-logo-white.png" role="button">
      <img class="icon" src="../assets/email.svg" role="button">
    </div>
    <div class="copyright-info">
      © Edifecs, Inc. | Smart Trading Team
    </div>
  </div>
</div>
